<?xml version="1.0" encoding="utf-8"?>
<!-- 
	Import XSS Licence here!
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
      package="xkp.android.Characters"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name=".ActCharacters"
                  android:label="@string/app_name"
				  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
