<module id="threejs" src="module.xs">

	<types>
	
		<class id="vector3d">		
            <property id="x" type="float" use_plain_value="true"/>
			<property id="y" type="float" use_plain_value="true"/>
			<property id="z" type="float" use_plain_value="true"/>		
		</class>		

		<class id="playing_sound" instantiator="sound_renderer.xss"/>	
		
		<class id="material">
			<array id="constructor_params">
				<parameter property="color"/> 
				<parameter property="map"/>
				<parameter property="wireframe"/>
				<parameter property="wireframe_linewidth"/>
				<parameter property="alpha"/>
				<parameter property="texture_src"/>				
				<parameter property="shading"/>
				<parameter property="vertex_colors"/>
				<parameter property="env_map"/>
				<parameter property="combine"/>
				<parameter property="reflectivity"/>
				<parameter property="shininess"/>
				<parameter property="specular"/>
				<parameter property="transparent"/>
			</array>
			<property id="color" type="string" dont_init="true"/> 
			<property id="map" type="string" dont_init="true"/>
			<property id="wireframe" type="string" dont_init="true"/>
			<property id="wireframe_linewidth" type="string" output_id="wireframeLinewidth" dont_init="true"/>
			<property id="alpha" type="float" dont_init="true" output_id="opacity"/>
			<property id="texture_src" type="string" dont_init="true"/>				
			<property id="shading" type="string" dont_init="true"/>
			<property id="vertex_colors" type="string" output_id="vertexColors" dont_init="true"/>
			<property id="env_map" type="string" output_id="envMap" dont_init="true"/>
			<property id="combine" type="string" dont_init="true"/>
			<property id="reflectivity" type="string" dont_init="true"/>
			<property id="shininess" type="string" dont_init="true"/>
			<property id="specular" type="string" dont_init="true"/>
			<property id="transparent" type="string" dont_init="true"/>			
		</class>
		
		<class id="composite_material" output_id="Array"/>
		
		<class id="basic_material" super="material" output_id="THREE.MeshBasicMaterial" instantiator="param_in_obj.xss"/>
				
		<class id="lambert_material" super="material" output_id="THREE.MeshLambertMaterial" instantiator="param_in_obj.xss"/>
			
		<class id="phong_material" super="material" output_id="THREE.MeshPhongMaterial" instantiator="param_in_obj.xss"/>
			
		<class id="normal_material" output_id="THREE.MeshNormalMaterial"/>
						
		<class id="texture" output_id="THREE.Texture">
			<array id="constructor_params">
				<parameter property="texture_src"/> 								
			</array>
			<property id="texture_src" type="string" dont_init="true"/>
		</class>
		
		<class id="object3d">						
            <property id="color" type="string" set_fn="materials[ 0 ].color.setHex" use_plain_value="true"/>
			<property id="alpha" type="float" output_id="materials[0].opacity" use_plain_value="true"/>
			<property id="overdraw" type="string"/>
			<property id="double_sided" type="string" output_id="doubleSided"/>
			<property id="material" type="string" dont_init="true" use_plain_value="true"/>
							
			<property id="position" type="vector3d"/>
			<property id="rotation" type="vector3d"/>
			<property id="scale" type="vector3d"/>
		</class>
	
		<class id="transform" output_id="THREE.Object3D">
			<property id="position" type="vector3d"/>
			<property id="rotation" type="vector3d"/>
			<property id="scale" type="vector3d"/>
		</class>
				
		<class id="light"> 					
			<property id="color" type="string" dont_init="true"/>			
			<property id="position" type="vector3d"/>
			<property id="rotation" type="vector3d"/>
			<property id="scale" type="vector3d"/>
		</class>
		
		<class id="ambient_light" super="light" output_id="THREE.AmbientLight" instantiator="light_renderer.xss">
			<array id="constructor_params">
				<parameter property="color"/>				 				
			</array>
		</class>
		
		<class id="directional_light" super="light" output_id="THREE.DirectionalLight" instantiator="light_renderer.xss">
			<array id="constructor_params">
				<parameter property="color"/>
				<parameter property="intensity"/>
				<parameter property="distance"/>
				<parameter property="cast_shadow"/>  				
			</array>				
			<property id="intensity" type="string" dont_init="true"/>
			<property id="distance" type="string" dont_init="true"/>
			<property id="cast_shadow" output_id="castShadow" type="string" dont_init="true"/>
		</class>
	
		<class id="point_light" super="light" output_id="THREE.PointLight" instantiator="light_renderer.xss">
			<array id="constructor_params">
				<parameter property="color"/>
				<parameter property="intensity"/>
				<parameter property="distance"/>           		
			</array>				
			<property id="intensity" type="string" dont_init="true"/>
			<property id="distance" type="string" dont_init="true"/>
		</class>
	
		<class id="camera" output_id="THREE.Camera" instantiator="camera_renderer.xss">
			<array id="constructor_params">				
				<parameter property="fov"/>
				<parameter property="aspect"/>
				<parameter property="near"/>
				<parameter property="far"/>     
				<parameter property="target"/>  			
			</array>			
			<property id="fov" type="string" dont_init="true"/>
			<property id="aspect" type="string" dont_init="true"/>
			<property id="near" type="string" dont_init="true"/>
			<property id="far" type="string" dont_init="true"/>
			<property id="target" type="string" dont_init="true"/>	
			<property id="position" type="vector3d"/>
			<property id="rotation" type="vector3d"/>
			<property id="scale" type="vector3d"/>
		</class>
	
		<class id="quake_camera" output_id="THREE.QuakeCamera" instantiator="camera_renderer.xss">
			<array id="constructor_params"> 				
				<parameter property="fov"/>
				<parameter property="aspect"/>
				<parameter property="near"/>
				<parameter property="far"/>     
				<parameter property="target"/> 
				<parameter property="speed"/>
				<parameter property="look_speed"/>
				<parameter property="no_fly"/>
				<parameter property="vertical"/>
				<parameter property="auto_forward"/>			
			</array>			
			<property id="fov" type="string" dont_init="true"/>
			<property id="aspect" type="string" dont_init="true"/>
			<property id="near" type="string" dont_init="true"/>
			<property id="far" type="string" dont_init="true"/>
			<property id="target" type="string" dont_init="true"/>
			<property id="speed" output_id="movementSpeed" type="string" dont_init="true"/> 
			<property id="look_speed" output_id="lookSpeed" type="string" dont_init="true"/>
			<property id="no_fly" output_id="noFly" type="string" dont_init="true"/>
			<property id="vertical" output_id="lookVertical" type="string" dont_init="true"/>
			<property id="auto_forward" output_id="autoForward" type="string" dont_init="true"/>
			<property id="position" type="vector3d"/>
			<property id="rotation" type="vector3d"/>
			<property id="scale" type="vector3d"/>
		</class>
	
		<class id="plane" super="object3d" output_id="THREE.Plane" instantiator="object3d_renderer.xss">
			<array id="constructor_params">
				<parameter property="width"/>
				<parameter property="height"/>
				<parameter property="x_segments"/>
				<parameter property="y_segments"/>
			</array>
			<property id="width" type="string" dont_init="true"/>
			<property id="height" type="string" dont_init="true"/>
			<property id="x_segments" output_id="segmentsWidth" type="string" dont_init="true"/>
			<property id="y_segments" output_id="segmentsHeight" type="string" dont_init="true"/>
		</class>
	
		<class id="cube" super="object3d" output_id="THREE.Cube" instantiator="object3d_renderer.xss">
			<array id="constructor_params">
				<parameter property="width"/>
				<parameter property="height"/>
				<parameter property="depth"/>      
				<parameter property="x_segments"/>
				<parameter property="y_segments"/>
				<parameter property="z_segments"/>
				<parameter property="material_array"/>	
				<parameter property="flipped"/>
				<parameter property="sides"/>				
			</array>
			<property id="width" type="string" dont_init="true"/> 
			<property id="height" type="string" dont_init="true"/>
			<property id="depth" type="string" dont_init="true"/>
			<property id="material_array" type="string" dont_init="true" use_plain_value="true"/>
			<property id="x_segments" output_id="segmentsWidth" type="string" dont_init="true"/>
			<property id="y_segments" output_id="segmentsHeight" type="string" dont_init="true"/>
			<property id="z_segments" output_id="segmentsDepth" type="string" dont_init="true"/>				
			<property id="flipped" type="string" dont_init="true"/>
			<property id="sides" type="string" dont_init="true"/>
		</class>
	
		<class id="cylinder" super="object3d" output_id="THREE.Cylinder" instantiator="object3d_renderer.xss">
			<array id="constructor_params">
				<parameter property="segments"/>
				<parameter property="top_radius"/>
				<parameter property="bottom_radius"/>      
				<parameter property="height"/>
				<parameter property="topoffset"/>
				<parameter property="bottomoffset"/>			
			</array>	
			<property id="segments" type="string" dont_init="true"/> 
			<property id="top_radius" type="string" dont_init="true"/>
			<property id="bottom_radius" type="string" dont_init="true"/>
			<property id="height" type="string" dont_init="true"/>
			<property id="topoffset" type="string" dont_init="true"/>
			<property id="bottomoffset" type="string" dont_init="true"/>			
		</class>
	
		<class id="sphere" super="object3d" output_id="THREE.Sphere" instantiator="object3d_renderer.xss">
			<array id="constructor_params">
				<parameter property="radius"/>
				<parameter property="x_segments"/>
				<parameter property="y_segments"/>			
			</array>
			<property id="radius" type="string" dont_init="true"/>
			<property id="x_segments" output_id="segmentsWidth" type="string" dont_init="true"/>
			<property id="y_segments" output_id="segmentsHeight" type="string" dont_init="true"/>
		</class>
	
		<class id="icosahedron" super="object3d" output_id="THREE.Icosahedron" instantiator="object3d_renderer.xss">
			<array id="constructor_params">
				<parameter property="subdivisions"/>			
			</array>
			<property id="subdivisions" type="string" dont_init="true"/>
		</class>
	
		<class id="particle" instantiator="particle_renderer.xss">
			<array id="constructor_params">
				<parameter property="program"/>
				<parameter property="color"/>					
			</array>
			<property id="program" type="string" dont_init="true" use_plain_value="true"/>
			<property id="color" type="string" dont_init="true"/>
			<property id="position" type="vector3d"/>
			<property id="rotation" type="vector3d"/>
			<property id="scale" type="vector3d"/>
		</class>
		
		<class id="particle_system" instantiator="particle_renderer.xss">
			<array id="constructor_params">
				<parameter property="program"/>
				<parameter property="color"/>
				<parameter property="quantity"/>	
				<parameter property="scale"/>
			</array>
			<property id="program" type="string" dont_init="true" use_plain_value="true"/>
			<property id="color" type="string" dont_init="true"/>
			<property id="quantity" type="string" dont_init="true"/>
			<property id="scale" type="string" dont_init="true"/>			
		</class>
   
		<class id="scene" output_id="THREE.Scene"/>	
	
		<class id="texture_cube" output_id="THREE.ImageUtils.loadTextureCube">
			<array id="constructor_params">
				<parameter property="img_array"/>
			</array>
			<property id="img_array" type="string" dont_init="true"/>
		</class>
	
		<class id="model" dont_render="true" instantiator="model_renderer.xss">
			<property id="position" type="vector3d"/>
			<property id="rotation" type="vector3d"/>
			<property id="scale" type="vector3d"/>
		</class>		
	</types>
	
</module>
