<module id="threejs" src="module.xs">

	<types>
	
		<class id="vector3d">		
            <property id="x" type="float" use_plain_value="true"/>
			<property id="y" type="float" use_plain_value="true"/>
			<property id="z" type="float" use_plain_value="true"/>		
		</class>

		<class id="rotation_class">		
            <property id="x" type="float" use_plain_value="true">	
				<get text="get_rotation_x({path})" global = "true"/>
				<set text="set_rotation_x({path}, {value})" global = "true"/>
            </property>
			<property id="y" type="float" use_plain_value="true">	
				<get text="get_rotation_y({path})" global = "true"/>
				<set text="set_rotation_y({path}, {value})" global = "true"/>
            </property>
			<property id="z" type="float" use_plain_value="true">	
				<get text="get_rotation_z({path})" global = "true"/>
				<set text="set_rotation_z({path}, {value})" global = "true"/>
            </property>		
		</class>		

		<class id="sound_3d" renderer="sound_renderer.xss"/>	
		
		<class id="material">
			<constructor_params>
				<parameter property="color"/> 
				<parameter property="wireframe"/>
				<parameter property="wireframe_linewidth"/>
				<parameter property="src"/>				
				<parameter property="shading"/>
				<parameter property="vertex_colors"/>
				<parameter property="env_map"/>
				<parameter property="combine"/>
				<parameter property="reflectivity"/>
				<parameter property="shininess"/>
				<parameter property="specular"/>
				<parameter property="transparent"/>
				<parameter property="refraction_ratio"/>
				<parameter property="ambient"/>
				<parameter property="blending"/>
			</constructor_params>
			<property id="color" type="string" dont_init="true"/> 			
			<property id="wireframe" type="string" dont_init="true"/>
			<property id="wireframe_linewidth" type="string" output_id="wireframeLinewidth" dont_init="true"/>
			<property id="alpha" type="float">
				<set text="set_material_alpha({path}, {value})" global = "true"/>
            </property>			
			<property id="src" type="string" dont_init="true"/>				
			<property id="shading" type="string" dont_init="true"/>
			<property id="vertex_colors" type="string" output_id="vertexColors" dont_init="true"/>
			<property id="env_map" type="string" output_id="envMap" dont_init="true"/>
			<property id="combine" type="string" dont_init="true"/>
			<property id="reflectivity" type="string" dont_init="true"/>
			<property id="shininess" type="string" dont_init="true"/>
			<property id="specular" type="string" dont_init="true"/>
			<property id="transparent" type="string" dont_init="true"/>	
			<property id="refraction_ratio" type="float"/>
			<property id="ambient" type="string" dont_init="true"/>
			<property id="blending" type="string" dont_init="true"/>
		</class>
		
		<class id="composite_material" output_id="Array"/>
		
		<class id="basic_material" super="material" output_id="THREE.MeshBasicMaterial" renderer="param_in_obj.xss"/>
				
		<class id="lambert_material" super="material" output_id="THREE.MeshLambertMaterial" renderer="param_in_obj.xss"/>
			
		<class id="phong_material" super="material" output_id="THREE.MeshPhongMaterial" renderer="param_in_obj.xss"/>
			
		<class id="normal_material" super="material" output_id="THREE.MeshNormalMaterial" renderer="param_in_obj.xss"/>
		
		<class id="depth_material" super="material" output_id="THREE.MeshDepthMaterial" renderer="param_in_obj.xss"/>
						
		<class id="object3d">			
            <property id="color" type="string">
				<set text="materials[0].color.setHex({value})"/>
            </property>
			<property id="texture" type="string">
				<set text="materials[0].map = new THREE.Texture(streamer.get_resource({value}).data)"/>
            </property>			
			<property id="alpha" type="float" use_plain_value="true">	
				<get text="get_object_alpha({path})" global = "true"/>
				<set text="set_object_alpha({path}, {value})" global = "true"/>
            </property>
			<property id="overdraw" type="string"/>
			<property id="double_sided" type="string" output_id="doubleSided"/>
			
			<property id="material" type="string" use_plain_value="true" dont_init="true">
				<set text="materials[0] = {value}"/>
            </property>
							
			<property id="position" type="vector3d"/>
			<property id="rotation" type="rotation_class"/>
			<property id="scale" type="vector3d"/>
		</class>
	
		<class id="transform" output_id="THREE.Object3D" heritable="true">
			<property id="texture" type="string" use_plain_value="true">
				<set text="set_transform_image({path}, {value})" global = "true"/>
            </property>
			<property id="material" type="string" use_plain_value="true">
				<set text="set_transform_material({path}, {value})" global = "true"/>
            </property>
			<property id="position" type="vector3d"/>
			<property id="rotation" type="rotation_class"/>
			<property id="scale" type="vector3d"/>
		</class>
				
		<class id="light"> 					
			<property id="color" type="string" dont_init="true"/>			
			<property id="position" type="vector3d"/>
			<property id="rotation" type="rotation_class"/>
			<property id="scale" type="vector3d"/>
		</class>
		
		<class id="ambient_light" super="light" output_id="THREE.AmbientLight" renderer="light_renderer.xss">
			<constructor_params>
				<parameter property="color"/>				 				
			</constructor_params>
		</class>
		
		<class id="directional_light" super="light" output_id="THREE.DirectionalLight" renderer="light_renderer.xss">
			<constructor_params>
				<parameter property="color"/>
				<parameter property="intensity"/>
				<parameter property="distance"/>
				<parameter property="cast_shadow"/>  				
			</constructor_params>				
			<property id="intensity" type="string" dont_init="true"/>
			<property id="distance" type="string" dont_init="true"/>
			<property id="cast_shadow" output_id="castShadow" type="string" dont_init="true"/>
		</class>
	
		<class id="point_light" super="light" output_id="THREE.PointLight" renderer="light_renderer.xss">
			<constructor_params>
				<parameter property="color"/>
				<parameter property="intensity"/>
				<parameter property="distance"/>           		
			</constructor_params>				
			<property id="intensity" type="string" dont_init="true"/>
			<property id="distance" type="string" dont_init="true"/>
		</class>
	
		<class id="camera" output_id="THREE.Camera" renderer="camera_renderer.xss">
			<constructor_params>				
				<parameter property="fov"/>
				<parameter property="aspect"/>
				<parameter property="near"/>
				<parameter property="far"/>     
				<parameter property="target"/>  			
			</constructor_params>			
			<property id="fov" type="string" dont_init="true"/>
			<property id="aspect" type="string" dont_init="true"/>
			<property id="near" type="string" dont_init="true"/>
			<property id="far" type="string" dont_init="true"/>
			<property id="target" type="string" dont_init="true"/>	
			<property id="position" type="vector3d"/>
			<property id="rotation" type="rotation_class"/>
			<property id="scale" type="vector3d"/>
		</class>	
	
		<class id="quake_camera" output_id="THREE.QuakeCamera" renderer="camera_renderer.xss">
			<constructor_params> 				
				<parameter property="fov"/>
				<parameter property="aspect"/>
				<parameter property="near"/>
				<parameter property="far"/>     
				<parameter property="target"/> 
				<parameter property="speed"/>
				<parameter property="look_speed"/>
				<parameter property="no_fly"/>
				<parameter property="vertical"/>
				<parameter property="auto_forward"/>			
			</constructor_params>			
			<property id="fov" type="string" dont_init="true"/>
			<property id="aspect" type="string" dont_init="true"/>
			<property id="near" type="string" dont_init="true"/>
			<property id="far" type="string" dont_init="true"/>
			<property id="target" type="string" dont_init="true"/>
			<property id="speed" output_id="movementSpeed" type="string" dont_init="true"/> 
			<property id="look_speed" output_id="lookSpeed" type="string" dont_init="true"/>
			<property id="no_fly" output_id="noFly" type="string" dont_init="true"/>
			<property id="vertical" output_id="lookVertical" type="string" dont_init="true"/>
			<property id="auto_forward" output_id="autoForward" type="string" dont_init="true"/>
			<property id="position" type="vector3d"/>
			<property id="rotation" type="rotation_class"/>
			<property id="scale" type="vector3d"/>
		</class>
		
		<class id="plane" super="object3d" output_id="THREE.Plane" renderer="object3d_renderer.xss" heritable="true">
			<constructor_params>
				<parameter property="width" runtime="true"/>
				<parameter property="height" runtime="true"/>
				<parameter property="x_segments" runtime="true"/>
				<parameter property="y_segments" runtime="true"/>
			</constructor_params>
			<property id="width" type="string" dont_init="true"/>
			<property id="height" type="string" dont_init="true"/>
			<property id="x_segments" output_id="segmentsWidth" type="string" dont_init="true"/>
			<property id="y_segments" output_id="segmentsHeight" type="string" dont_init="true"/>
		</class>
	
		<class id="cube" super="object3d" output_id="THREE.Cube" renderer="object3d_renderer.xss" heritable="true">
			<constructor_params>
				<parameter property="width" runtime="true"/>
				<parameter property="height" runtime="true"/>
				<parameter property="depth" runtime="true"/>      
				<parameter property="x_segments" runtime="true"/>
				<parameter property="y_segments" runtime="true"/>
				<parameter property="z_segments" runtime="true"/>
				<parameter property="material_array" runtime="true"/>	
				<parameter property="flipped" runtime="true"/>
				<parameter property="sides" runtime="true"/>				
			</constructor_params>
			<property id="width" type="string" dont_init="true"/> 
			<property id="height" type="string" dont_init="true"/>
			<property id="depth" type="string" dont_init="true"/>
			<property id="material_array" type="string" dont_init="true" use_plain_value="true"/>
			<property id="x_segments" output_id="segmentsWidth" type="string" dont_init="true"/>
			<property id="y_segments" output_id="segmentsHeight" type="string" dont_init="true"/>
			<property id="z_segments" output_id="segmentsDepth" type="string" dont_init="true"/>				
			<property id="flipped" type="string" dont_init="true"/>
			<property id="sides" type="string" dont_init="true"/>
		</class>
	
		<class id="cylinder" super="object3d" output_id="THREE.Cylinder" renderer="object3d_renderer.xss" heritable="true">
			<constructor_params>
				<parameter property="segments" runtime="true"/>
				<parameter property="top_radius" runtime="true"/>
				<parameter property="bottom_radius" runtime="true"/>      
				<parameter property="height" runtime="true"/>
				<parameter property="topoffset" runtime="true"/>
				<parameter property="bottomoffset" runtime="true"/>			
			</constructor_params>	
			<property id="segments" type="string" dont_init="true"/> 
			<property id="top_radius" type="string" dont_init="true"/>
			<property id="bottom_radius" type="string" dont_init="true"/>
			<property id="height" type="string" dont_init="true"/>
			<property id="topoffset" type="string" dont_init="true"/>
			<property id="bottomoffset" type="string" dont_init="true"/>			
		</class>
	
		<class id="sphere" super="object3d" output_id="THREE.Sphere" renderer="object3d_renderer.xss" heritable="true">
			<constructor_params>
				<parameter property="radius" runtime="true"/>
				<parameter property="x_segments" runtime="true"/>
				<parameter property="y_segments" runtime="true"/>			
			</constructor_params>
			<property id="radius" type="string" dont_init="true"/>
			<property id="x_segments" output_id="segmentsWidth" type="string" dont_init="true"/>
			<property id="y_segments" output_id="segmentsHeight" type="string" dont_init="true"/>
		</class>
	
		<class id="icosahedron" super="object3d" output_id="THREE.Icosahedron" renderer="object3d_renderer.xss" heritable="true">
			<constructor_params>
				<parameter property="subdivisions" runtime="true"/>			
			</constructor_params>
			<property id="subdivisions" type="string" dont_init="true"/>
		</class>
	
		<class id="particle" renderer="particle_renderer.xss" heritable="true">
			<constructor_params>
				<parameter property="program" runtime="true"/>
				<parameter property="color" runtime="true"/>					
			</constructor_params>
			<property id="program" type="string" dont_init="true" use_plain_value="true"/>
			<property id="color" type="string" dont_init="true"/>
			<property id="position" type="vector3d"/>
			<property id="rotation" type="rotation_class"/>
			<property id="scale" type="vector3d"/>
		</class>
				
		<class id="particle_system" renderer="particle_renderer.xss" heritable="true">
			<constructor_params>
				<parameter property="program" runtime="true"/>
				<parameter property="color" runtime="true"/>
				<parameter property="quantity" runtime="true"/>	
				<parameter property="scale" runtime="true"/>
			</constructor_params>
			<property id="program" type="string" dont_init="true" use_plain_value="true"/>
			<property id="color" type="string" dont_init="true"/>
			<property id="quantity" type="string" dont_init="true"/>
			<property id="scale" type="string" dont_init="true"/>			
		</class>
   
		<class id="scene" output_id="THREE.Scene"/>		
				
	</types>
	
</module>
