<module id="jquery" src="module.xs">
    <types>
        <class id="button" tag_name="button">
            <property id="caption" type="string" include_text="true">
                <get text="text()"/>
                <set text="text({value})"/>
            </property>
            <property id="width" type="int">
                <get text="width()"/>
                <set text="width({value})"/>
            </property>
        </class>
    </types>
</module>